.App {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  background-image: url("./assets/nba-scores-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App-header {

}

.games {
  background-color: #E5E5E5;
  min-height: 100vh;
  margin: 4%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  border-radius: 30px;
}