.game {
  background-color: white;
  border-radius: 40px;
  width: 70%;
  margin: 2.5%;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.teamName {
  font-family: Poppins;
  font-size: 200%;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 0em;
  display: flex;
}

.score {
  font-family: Quicksand;
  font-size: 200%;
  font-weight: 400;
  letter-spacing: 0em;
  display: flex;
}

.teams {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.team {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 100px;
}

.vl {
  border-left: 1px solid black;
  height: 100px;
  float: center;
}